// Common styles
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  // outline: 1px solid red;
}
html {
  scrollbar-gutter: stable;
}

body {
  background-color: @body-bg-color;
  font-family: 'Roboto';
}

.container {
  width: 100%;
  max-width: @container-width;
  padding: 0 10px;
  margin: 0 auto;
}

.mobile-menu {
  padding: 20px;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  .link {
    color: @nav-text-color;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.24px;
    text-decoration: none;
    margin-right: 48px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 40px;

    .responsive(@xs, {
      // margin-right: 5px;
    });

    .login {
      margin-left: 0;
      .responsive(@xs, {
        margin-left: 5px;
      });
    }

    &:first-of-type {
      letter-spacing: unset;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
