// Variables
@white: #fff;
@black: #000;

@body-bg-color:#F4F9FC;

@nav-border-color: #A6A5A9;
@nav-text-color: #3B4157;

@table-border-color: #CDCFD2;
@table-bg-color: #F4F9FC;

@blue-text-color: #0D5ADC;


@h1-color: #828286;

@main-text-color: #3B4157;
@second-text-color: #A4A9B9;